/* main.css: Fonts and stuff for Blender++ Live */
@font-face {
  font-family: 'bpp_Tahoma';
  src: url('https://hackerdagreat57.github.io/bpp/fonts/tahoma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}