/* main.css: Fonts and stuff for Blender++ Live */
@font-face {
  font-family: 'bpp_Tahoma';
  src: url('./fonts/tahoma.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.apptitle {
  font-family: 'bpp_Tahoma';
}